.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 330px;
    max-width: 400px;
    color: black;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: center;
    color: black;
}

.form label {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%; 
    color: black;
}

.input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 260px;
    color: black;
}

.input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

span {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    width: 260px;
}

button:hover {
    background-color: #0056b3;
}