.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #fafafa;
}

.a{
    text-decoration: none;
    color: #fafafa;
}

.a:hover{
    color: blue;
}